DROPBOX_APP_KEY=your_app_key
DROPBOX_APP_SECRET=your_app_secret
DROPBOX_REFRESH_TOKEN=your_refresh_token
# Requires a Full Dropbox app if you want to write outside /Applications/<App Name>
DROPBOX_YEAR_PATH_TEMPLATE=/ROBALEX SIGNALISATION/8. Calcul des Frais/{year}/Quittance
APP_PIN=your_pin_here
